body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #f0f9ff, #ffffff);
  overflow: hidden;
}

.login-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 150px;
}


.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
}

.circle-top-left {
  width: 220px;
  height: 220px;
  background-color: #6abcfe;
  top: -100px;
  left: -3px;
  z-index: 3; 
  opacity: 1;
}

.circle-top-right {
  width: 315px;
  height: 315px;
  background-color: #7377ff;
  top: -120px;
  right: -100px;
  z-index: 2;
}

.login-box {
  background: transparent;
  padding: 40px 30px;
  border-radius: 10px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
  margin-top: 30px;
}

.user-icon {
  margin-bottom: 30px;

}

.user-icon img {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

.input {
  width: 220px;
  padding: 15px;
  margin: 8px 0;
  border: none;
  background-color: #7377ff;
  border-radius: 11px;
  font-size: 17px;
  color: white;
  text-align: center;

}

.input::placeholder {
  color: white;
}

.remember-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 8px 0;
  font-size: 14px;
  color: #4daaff;
}

.remember-container input {
  margin-right: 8px;
}

.login-button {
  width: 150px;
  margin-top: 8px;
  padding: 10px;
  background-color: #4daaff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover {
  background-color: #3399ff;
}

.forgot-password {
  margin-top: 12px;
  font-size: 13px;
  color: #3399ff;
  text-decoration: none;
  text-align: center;
  display: block;
}

.login-button:active {
  transform: scale(0.97);
  background-color: #2a85d0;
}
input:focus {
  outline: none; /* Quita el outline por defecto */
}
