* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #FFEA35;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .purple-figure {
    width: 10vw;
    height: 90vh;
    background-color: #E016FF;
  }
  
  .orange-container {
    width: 85vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  
  .orange-figures {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  
  .orange1 {
    width: 20vw;
    height: 20vh;
    background-color: #FF800B;
    display: flex;
    align-items: flex-start;
  }
  
  .orange1-1 {
    width: 7vw;
    height: 7vh;
    background-color: #FFBB7C;
  }
  
  .orange2 {
    width: 20vw;
    height: 20vh;
    background-color: #FF800B;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .orange2-1 {
    width: 7vw;
    height: 7vh;
    background-color: #FFBB7C;
  }
  
  .orange3 {
    width: 20vw;
    height: 20vh;
    background-color: #FF800B;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  
  .orange3-1 {
    width: 7vw;
    height: 7vh;
    background-color: #FFBB7C;
  }
  
  .blue-figure {
    width: 85vw;
    height: 10vh;
    background-color: #1C2260;
  }
  